body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
 :root {
    --bg: white;
    --text: black;
    --accent-color: #500570

  }

  [data-theme="dark"] {
    --bg: #1b1c1d;
    --text: white;
    --accent-color:#DA8FFA
  }

  body {
    background: var(--bg);
    color: var(--text);
    font-family: "Inter", system-ui, -apple-system, "Segoe UI", sans-serif;
    transition: background 0.2s, color 0.2s;
  }